{% extends config.layout %}
{% block title %}Edit Post{% endblock %}
{% block content %}

<h1>{% display title %}</h1>

<form action="{% route 'balibali_blog_backend_update' with ['id': form.getData.id] %}" method="post">
<input type="hidden" name="_method" value="put">
{{ form.render|safe }}
<input type="submit" value="Post">
</form>

<div>
<a href="{% route 'balibali_blog_backend_index' %}">Back to Index</a>
</div>

{% endblock %}
