{% extends "Balibali\\BlogBundle::layout" %}
{% block title %}New Post{% endblock %}
{% block content %}

<h1>{% display title %}</h1>

<form action="{% route 'balibali_blog_backend_create' %}" method="post">
{{ form.render|safe }}
<input type="submit" value="Post">
</form>

<div>
<a href="{% route 'balibali_blog_backend_index' %}">Back to Index</a>
</div>

{% endblock %}
