{% extends config.layout %}
{% block head %}
{% javascript '//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %}
{% javascript 'bundles/blog/form.js' %}
{% endblock %}
{% block title %}New Post{% endblock %}
{% block content %}

<h1>{% display title %}</h1>

<form action="{% route 'balibali_blog_backend_create' %}" method="post">
{{ form.render|safe }}
<input type="submit" value="Post">
</form>

<div class="back-link">
<a href="{% route 'balibali_blog_backend_index' %}">Back to Index</a>
</div>

<script>
var slug = true;
$('#post_title').change(function() { if (slug) $('#post_slug').val(slugify($(this).val())); });
$('#post_slug').change(function() { slug = false });
function slugify(text) { return text.toLowerCase().replace(/[^0-9a-z]+/g,'-').replace(/-+/g,'-').replace(/^-/,'').replace(/-$/,''); }
</script>
{% endblock %}
