<!doctype html>
<html>
<head>
{% block init %}{% endblock %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{% block title %}{% endblock %}</title>
{% stylesheet 'bundles/blog/common.css' %}
{% stylesheets %}
{% javascripts %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
