<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>{% block title %}{% endblock %}</title>
{% stylesheets %}
{% javascripts %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
