table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

th, td {
    border: solid 1px #999;
    padding: 0.5em;
}

.post {
    margin-bottom: 1em;
}

.post .date {
    margin-bottom: 1em;
    color: #666;
}
